:root {
    // brand colors
    --c-brand: #0072ff !important;
    --c-brand-light: #0072ff !important;
    --c-text-accent: #0072ff !important;
    --back-to-top-color: #0072ff !important;
    --back-to-top-color-hover: #0072ff !important;

    --c-tip: #0072ff !important;

    --el-color-primary: #0072ff !important;

    --c-badge-tip: #42b983;
}

body {
    overflow-x: hidden;
}

.grid {
    display: grid;
    row-gap: 3rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    column-gap: 30px;
    align-items: center;
    margin: 40px 0;
    text-align: center;

    a {
        width: 100%;
        display: inline-block;
    }

    img {
        max-height: 3rem;
        vertical-align: middle;
    }
}

.home-page #introduction {
    display: none;
}

.logo-video {
    width: 70%;
}

.grid-apps {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    .eco-app {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        transition: all 0.1s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        .link {
            width: 80%;
            display: inline-block;
            background: #0072ff;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        
        .banner {
            width: 100%;
            height: 130px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #e6e6e6;
            padding: 0 15px;
            box-sizing: border-box;
        }
    
        a {
            color: #fff;
            padding: 10px 0;
            text-decoration: none !important;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
        }

        h4 {
            margin: 20px 0 10px;
        }

        .description {
            p {
                font-size: 13px;
                display: inline-block;
                height: 100px;
                padding: 0 15px;
                text-align: left;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 419px) {
    .logo-video {
        width: 100%;
    }

    .grid-apps {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .eco-app {
            .description {
                p {
                    height: 140px;
                }
            }
        }
    }
}

.protocol-page {
    h1, h2 {
        color: #003c86;

        code {
            color: #003c86;
        }
    }

    h3 {
        color: #004eaf;

        code {
            color: #004eaf;
        }
    }

    h4 {
        color: #0072ff;

        code {
            color: #0072ff;
        }
    }

    h5 {
        color: #338dff;

        code {
            color: #338dff;
        }
    }

    h6 {
        color: #5ba5ff;
        font-size: 0.9rem;

        code {
            color: #5ba5ff;
        }
    }
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.pricing-table-wrapper {
    max-width: 71rem;
    margin: 0 auto;
}

.pricing-table {
    --pricing-table-color: hsl(219, 83%, 57%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
    grid-gap: 1em;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;

    &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 20px 20px rgba(0,0,0,.08);
    transition: box-shadow 200ms cubic-bezier(.02, .01, .47, 1), transform 200ms cubic-bezier(.02, .01, .47, 1);
    
    &:hover {
        box-shadow: 0 40px 40px rgba(0,0,0,.16);
        transform: translate(0,-20px);
    }

    &--popular {
        position: relative;

        &::before {
        position: absolute;
        content: attr(data-popular);
        top: 2em;
        right: 2em;
        font-size: .9em;
        padding: 0 1em;
        background-color: hsl(51, 100%, 50%);
        border-radius: 1em;
        color: hsl(60, 5%, 15%);
        }
    }
    }

    &__img {
    margin: 2.5em auto 4em;
    width: 100%;
    }

    &__title {
    margin: 0;
    font-size: 1.5em;
    text-transform: capitalize;
    }

    &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    }

    &__tagline {
    margin: 0;
    color: hsl(216, 3%, 63%);
    text-align: center;
    }

    &__price {
    color: var(--pricing-table-color);
    font-size: 2em;
    margin: 0.8em auto 0;
    font-weight: bold;
    }

    &__label {
    margin: 0;
    color: hsl(216, 3%, 63%);
    font-size: .6em;
    }

    &__save {
    color: hsl(219, 83%, 57%);
    font-weight: bold;
    }

    &__products {
    margin: .87em 0;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    &__product {
    display: flex;
    align-items: center;
    margin-bottom: .4em;

    a {
        text-decoration: none;
        color: inherit;
        transition: color .2s ease-in-out;

        &:hover {
        color: var(--pricing-table-color);
        }
    }

    &::before {
        content: ' ';
        width: .4em;
        height: .4em;
        margin-inline-end: 1em;
        border-radius: 50%;
        background-color: var(--pricing-table-color);
    }

    &--excluded::before {
        content: ' ';
        width: .4em;
        height: .4em;
        margin-inline-end: 1em;
        border-radius: 0;
        color: red;
        background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 20 20' id='entypo-cross' width='32' height='32' fill='hsl(4, 90%, 58%)'%3E%3Cg%3E%3Cpath d='M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z'/%3E%3C/g%3E%3C/svg%3E") center/contain;
        transform: scale(2.5);
    }
    }

    &__button {
    background: var(--pricing-table-color);
    color: #fff;
    margin-top: auto;
    padding: 1em 2em;
    text-decoration: none;
    width: 100%;
    border-radius: 1em;
    text-align: center;
    transition: background .2s ease-in-out;
    text-transform: capitalize;

    &:hover {
        background-color: hsl(219, 83%, 57%);
    }
    }
}



.pricing-table-1 {
    --pricing-table-1-color: hsl(219, 83%, 57%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
    grid-gap: 1em;
    margin: 0 auto;
    padding: 1em 0;
    list-style-type: none;

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        background-color: #fff;
        padding: 1em;
        border-radius: 1em;
        box-shadow: 0 20px 20px rgba(0,0,0,.08);
        transition: box-shadow 200ms cubic-bezier(.02, .01, .47, 1), transform 200ms cubic-bezier(.02, .01, .47, 1);
        
        &:hover {
            box-shadow: 0 40px 40px rgba(0,0,0,.16);
            transform: translate(0,-20px);
        }
    }

    &__col {
        display: flex;
        flex-direction: column;
        flex: auto;
        // padding: 1em;

        align-items: center;
        justify-content: center;
    }

    &__md {
        min-width: 13em;
        max-width: 13em;
    }

    &__lg {
        min-width: 13em;
        max-width: 1fr;
    }

    &__img {
    margin: 2.5em auto 4em;
    width: 50%;
    }

    &__title {
    margin: 0;
    font-size: 1.5em;
    text-transform: capitalize;
    }

    &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    }

    &__tagline {
    margin: 0;
    color: hsl(216, 3%, 63%);
    text-align: center;
    }

    &__price {
    color: var(--pricing-table-1-color);
    font-size: 2em;
    margin: 0 auto;
    font-weight: bold;
    }

    &__label {
    margin: 0;
    color: hsl(216, 3%, 63%);
    font-size: .6em;
    }

    &__save {
    color: hsl(219, 83%, 57%);
    font-weight: bold;
    }

    &__products {
    margin: .87em 0;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    &__product {
    display: flex;
    align-items: center;
    margin-bottom: .4em;

    a {
        text-decoration: none;
        color: inherit;
        transition: color .2s ease-in-out;

        &:hover {
        color: var(--pricing-table-1-color);
        }
    }

    &::before {
        content: ' ';
        width: .4em;
        height: .4em;
        margin-inline-end: 1em;
        border-radius: 50%;
        background-color: var(--pricing-table-1-color);
    }

    &--excluded::before {
        content: ' ';
        width: .4em;
        height: .4em;
        margin-inline-end: 1em;
        border-radius: 0;
        color: red;
        background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 20 20' id='entypo-cross' width='32' height='32' fill='hsl(4, 90%, 58%)'%3E%3Cg%3E%3Cpath d='M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z'/%3E%3C/g%3E%3C/svg%3E") center/contain;
        transform: scale(2.5);
    }
    }

    &__button {
    background: var(--pricing-table-1-color);
    color: #fff;
    margin-top: auto;
    padding: 1em 2em;
    text-decoration: none;
    width: 100%;
    border-radius: 1em;
    text-align: center;
    transition: background .2s ease-in-out;
    text-transform: capitalize;

    &:hover {
        background-color: hsl(219, 83%, 57%);
    }
    }
}


@media (max-width: 1055.98px) {


    .pricing-table-1 {
    
        &__md {
            max-width: 30em;
        }
    }
}